


main {
	margin: 0 auto;
	max-width: 100%;
  padding: 10px;
  padding-top: 40px;
}

:root {
  --primary: #004ba8;
  --secondary: #39a0ed;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #efe9e7;
  --darker: #000000;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

.project-thumbnail {
  align-items: center;
  justify-content: space-evenly;
}

.close-button {
  justify-content: center;
}

.modal-image {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.website-button {
  display: flex;
  justify-content: space-evenly;
}

.description-text {
  color: #004ba8;
}

.description-header {
  margin-bottom: 0px;
  font-size: 40px;
  color: #004ba8;
  border-bottom: 2px solid #004ba8;
}

.website {
  font-size: 30px;
  color: white;
  padding-top: 30px;
}

#about {
  margin-bottom: 10px;
  color: #004ba8;
  border-bottom: 5px solid #004ba8;
}

.nav-buttons {
  transition: 0.4s;
  font-size: 25px;
  padding-left: 0px;
}

.contact-form {
  width: 100%;
  justify-content: center;
}

.about-nav:hover {
  color: #39a0ed;
  border-bottom: 10px double #004ba8;
  text-shadow: 4px 4px 4px #000000;
}

.message-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-nav:hover {
  color: #39a0ed;
  border-bottom: 10px double #004ba8;
  text-shadow: 4px 4px 4px #000000;
}

.projects-nav:hover {
  color: #39a0ed;
  border-bottom: 10px double #004ba8;
  text-shadow: 4px 4px 4px #000000;
}

.resume-nav:hover {
  color: #39a0ed;
  border-bottom: 10px double #004ba8;
  text-shadow: 4px 4px 4px #000000;
}

.email {
  display: flex;
  justify-content: center;

}

.email-address {
  font-size: 1.50rem;
  padding-right: 70px;
}

.phone {
  margin: 0;
  font-size: 1.50rem;
  color: #004ba8;
}

.name-email {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.email {
  padding-left: 10px;
}


.project-title {
  color: #004ba8;
  border-bottom: 5px solid #004ba8;
}

.contact-title {
  color: #004ba8;
  border-bottom: 5px solid #004ba8;
  margin-bottom: 30px;
}

.project-description-text {
  color: #004ba8;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--secondary);
  font-family: 'Calibri', 'Times New Roman', 'Cambria';

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calibri', 'Times New Roman', 'Cambria';
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3.75rem;
  padding-top: 25px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

label {
  color: #004ba8;
  padding-right: 10px;
}

h6 {
  font-size: 1rem;
}

.about-me {
  display: flex;
}

.about-me-text {
  font-size: 22px;
  padding-left: 15px;
  color: #004ba8;
  font-weight: bolder;
}

.my-photo {
  width: 230px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-size: 1.50rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  font-weight: bold;
  text-decoration: none;
}

header {
  background: var(--primary);
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--secondary);
}

.page-title {
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
}

.social-icons {
  justify-content: center;
  padding-top: 50px;
}

.resume {
  padding-left: 30px;
  padding-right: 30px;
}

.github {
  padding-left: 30px;
  padding-right: 30px;
}

.linkedin {
  padding-left: 30px;
  padding-right: 30px;
}

.error-text {
  display: flex;
  color: #004ba8;
}

.error-message {
  display: flex;
  justify-content: center;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

.flex-row-submit {
  display: flex;
  justify-content: center;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}


input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  border: 2px solid black;
  width: auto;
  height: 300px;
  width: 375px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}

.img-thumbnail:hover {
  transition: 0.5s;
  width: auto;
  height: 300px;
  width: 375px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.modalBackdrop {
  background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
  background: white;
	border-radius: 5px;
	max-width: 700px;
	margin: 50px auto;
	padding: 15px;
  width: 960px;
  border-radius: 20px 20px;
}

.modalTitle {
	font-size: 30px;
	font-weight: 600;
  margin-bottom: 25px;
  color: #004ba8;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

@media only screen and (max-width: 1091px) {
  .nav-buttons {
    color: #004ba8;
  }
  .about-nav:hover {
    color: #39a0ed;
    border-bottom: 10px double #efe9e7;
    text-shadow: 0 0 0;
  }

  .contact-nav:hover {
    color: #39a0ed;
    border-bottom: 10px double #efe9e7;
    text-shadow: 0 0 0;
  }
  
  .resume-nav:hover {
    color: #39a0ed;
    border-bottom: 10px double #efe9e7;
    text-shadow: 0 0 0;
  }
  
  .projects-nav:hover {
    color: #39a0ed;
    border-bottom: 10px double #efe9e7;
    text-shadow: 0 0 0;
  }

}